.password-meter-container {
    margin-left: 30px;
    width: 400px;
}

#passwordMeterRange {
    -webkit-appearance: none;
    appearance: none;
    height: 6px;
    background: transparent;
}

#passwordMeterRange::-webkit-slider-runnable-track {
    background: linear-gradient(to right, red, yellow, green);
    height: 8px;
}

#passwordMeterRange::-webkit-slider-thumb {
    background: black;
    width: 6px;
}

/* For Firefox */
#passwordMeterRange::-moz-range-track {
    background: linear-gradient(to right, red, yellow, green);
    height: 8px;
}

#passwordMeterRange::-moz-range-thumb {
    background: black;
    width: 6px;
}

.password-tips p {
    line-height: 1.2; 
    margin: 0; 
}
