{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <form method="POST">
            {% csrf_token %}
            <h3 class="mb-4">Verify your Identity</h3>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    {{ form | crispy }}
                    <div class="form-group mt-3">
                        <button class="btn btn-primary btn-block w-100" type="submit">Submit</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="d-flex justify-content-center align-items-center">
                        <img src="{{ qr_code_data }}" class="qr-code-img" style="max-width: 80%; max-height: 70vh; margin-left: 100px;" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<style>
    .qr-code-img {
        width: 100%;
        height: auto;
    }
</style>
{% endblock %}
