{% load static %}
<div class="password-meter-container">
    <input type="range" class="form-range" min="0" max="5" id="passwordMeterRange" value="0" disabled>
    <link rel="stylesheet" href={% static 'css/password_meter.css' %}>
    <div class="password-tips"></div>
    <script>
        meter = document.getElementById("passwordMeterRange");
        password = document.getElementById("passwordInput");
        email = document.getElementById("id_email");
        full_name = document.getElementById("id_full_name");
        specialCharRegex = new RegExp("[!@#$%^&*()+\\[\\]{}|;:,.<>?/`~]");
        digitRegex = new RegExp("\\d");
        lowercaseRegex = new RegExp("\\p{Ll}","u");
        uppercaseRegex = new RegExp("\\p{Lu}","u");
        var passwordTips = document.querySelector('.password-tips');

        password.oninput = function() {
            let strength = 0;
            let full_name_value = "{{ request.user.full_name }}"
            let email_value = "{{ request.user.email }}" 
            if (email_value == "")
                email_value = email.value
            if (full_name_value == "")
                full_name_value = full_name.value
            let password_value = password.value
            const tips = generatePasswordTips(password_value, email_value, full_name_value);
            displayPasswordTips(tips);

            if (12 <= password_value.length && password_value.length <= 128)
                strength++
            if (specialCharRegex.test(password_value))
                strength++
            if (digitRegex.test(password_value))
                strength++
            if (lowercaseRegex.test(password_value))
                strength++
            if (uppercaseRegex.test(password_value))
                strength++
            if (email_value && email_value.includes("@") && password_value.includes(email_value.split("@")[0]))
                strength--
            if (full_name_value && password_value.includes(full_name_value))
                strength--

            meter.value = strength
        }

        function generatePasswordTips(password, email_value, full_name_value) {
                var tips = [];

                if (password.length < 1) {
                    return tips;
                }
                
                // Example tips
                if (!specialCharRegex.test(password)) {
                    tips.push('Include a special character (!@#$%^&*(),.?":{}|<>)');
                }

                if (!digitRegex.test(password)) {
                    tips.push('Include a number');
                }

                if (!uppercaseRegex.test(password)) {
                    tips.push('Include an uppercase letter');
                }

                if (!lowercaseRegex.test(password)) {
                    tips.push('Include a lowercase letter');
                }

                if (password.length < 12) {
                    tips.push('Use at least 12 characters');
                }

                if (password.length > 128) {
                    tips.push('Use at most 128 characters');
                }
                
                if (email_value && email_value.includes("@") && password.includes(email_value.split("@")[0])) {
                    tips.push('Do not include your email');
                }

                if (full_name_value && password.includes(full_name_value)) {
                    tips.push('Do not include your name');
                }

                return tips;
            }

            function displayPasswordTips(tips) {
                passwordTips.innerHTML = '<p>' + tips.join('<br>') + '</p>';
            }

    </script>
</div>


